@charset "utf-8";
/* CSS Document */

#total {
  display: flex;
  background-color: '#f1f8e9';
  color: '#f1f8e9';
  font-size: 16;
  justify-content: space-between;
}


#second {
  display: flex;
  background-color: '#f1f8e9';
  color: '#f1f8e9';
  font-size: 19;
  justify-content: space-between;
}


#ye {
  background-image:url('bg.png');
  display: flex;
  background-color:#cccccc;
  color: '#f1f8e9';
  font-size: 19;
  justify-content: space-between;
}
